.guarantee
  &__title
    margin: auto
    margin-bottom: 100px
  &-lists
    display: flex
    justify-content: space-between
  &-list
    &__item
      display: flex
      flex-direction: column
      flex-basis: 33%
      max-width: 270px
    &__image
      margin-bottom: 41px

    &__description
      font-size: 18px
      line-height: 24px
      text-align: center
