@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/foMuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 320px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  text-align: center;
  font-size: 24px;
  max-width: 500px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 20px;
  text-align: center;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 16px;
  border-radius: 10px;
}

@media (max-width: 320px) {
  .section {
    padding-top: 43px;
    padding-bottom: 56px;
  }
  .section-title {
    font-size: 18px;
    margin-bottom: 27px;
  }
  .section-subtitle {
    font-size: 14px;
    margin-bottom: 34px;
  }
}

/*Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

/*Импорт стилей для главного экрана*/
.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 69px;
  display: inline-block;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-block-list {
    margin-bottom: 44px;
  }
  .hero-block-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-text-list__item {
    margin-bottom: 20px;
  }
  .hero-text-list__text {
    font-size: 12px;
  }
  .hero-text-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 568px) {
  .hero-text {
    padding: 10px;
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 10px;
  }
  .hero-list__text {
    max-width: 200px;
  }
}

/*Импорт стилей для offer*/
.offer {
  background: url(../img/offer/offer_bg.jpeg) no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  width: 250px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 16px;
}

.offer__inputs {
  display: inline-block;
}

.offer__inputs:first-child {
  margin-right: 10px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:focus {
  border: 2px solid #ffd200;
  outline: none;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
}

.offer__text {
  max-width: 200px;
  font-size: 15px;
  line-height: 24px;
}

.offer__phone {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

input.invalid {
  border: solid 1px red;
}

div.invalid {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 568px) {
  .offer__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .offer__subtitle {
    font-size: 14px;
  }
  .offer__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__text {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
  }
  .offer__text:last-child {
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .offer__input {
    min-width: 288px;
  }
  .offer__text:last-child {
    padding-bottom: 56px;
  }
}

/*Стили модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

/*Стили скролла на вверх*/
.scrollTop {
  background: #ffd200;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .04s;
  transition: all .04s;
}

.scrollTop.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 0.8;
  cursor: pointer;
}

/*Стили для секции со свайпером*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/bcg.jpeg") repeat-y center left;
  background-size: 50%;
}

.portfolio-title {
  margin: auto;
  margin-bottom: 100px;
}

.swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 68px;
  padding-bottom: 100px;
}

.swiper-button-left, .swiper-button-right {
  cursor: pointer;
}

@media (max-width: 768px) {
  .section {
    padding-bottom: 0;
  }
}

@media (max-width: 568px) {
  .section {
    padding-bottom: 0;
  }
  .swiper-buttons {
    padding-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .section {
    padding-bottom: 0;
  }
  .portfolio-title {
    font-size: 18px;
    margin-bottom: 41px;
  }
  .swiper-buttons {
    padding-bottom: 50px;
  }
}

/*Стили для секции с ценами*/
.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover .card__image:before {
  opacity: 0.8;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover::after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-img {
  display: block;
}

@media (max-width: 768px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 320px) {
  .price__title {
    font-size: 18px;
    margin-bottom: 27px;
    max-width: 285px;
  }
  .price__subtitle {
    font-size: 14px;
  }
}

/*Стили для секции steps*/
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow_radius.png");
  top: -9px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 156px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
}

.steps__subtitle {
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .steps__title {
    margin-bottom: 27px;
  }
  .steps__subtitle {
    margin-bottom: 34px;
  }
}

/*Стили для блока brif*/
.brif {
  background-image: url("../img/brif/brif_bg_orange.jpeg"), url("../img/brif/brif_bg.jpeg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__input:focus {
  border: 2px solid #ffd200;
  outline: none;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 26px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
  margin-right: 30px;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
}

input.invalid-brif {
  border: solid 1px red;
}

div.invalid-brif {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview__subtitle__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview__subtitle__counter {
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
  .form__description {
    display: block;
    text-align: center;
    padding-bottom: 34px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif_bg_orange.jpeg"), url("../img/brif/brif_bg.jpeg");
    background-position: top center;
    background-size: 50% 50%, 100% 100%;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__interview {
    padding: 0;
    margin-top: 0px;
  }
  .form__title {
    padding-top: 63px;
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  .brif__form {
    padding-left: 0;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__title {
    font-size: 18px;
    margin-bottom: 27px;
  }
  .form__subtitle {
    font-size: 14px;
  }
  .form__description {
    font-size: 14px;
    max-width: 135px;
    margin: auto;
  }
  .interview__subtitle {
    font-size: 14px;
    max-width: 190px;
  }
  .interview-list__text {
    max-width: 235px;
    font-size: 14px;
  }
  .interview-list__counter {
    margin-right: 15px;
  }
}

/*Стили для блока other*/
.materials-title {
  background-color: #ffd200;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.materials-subtitle {
  margin: auto;
}

.materials-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.materials-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.materials-card__image {
  margin-top: 41px;
  width: 370px;
  height: 260px;
}

.materials-card__description {
  padding-top: 27px;
  margin-left: 26px;
  font-size: 16px;
  line-height: 23px;
  max-width: 290px;
}

@media (max-width: 1200px) {
  .materials-cards {
    display: block;
  }
  .materials-card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 320px) {
  .materials-title {
    padding-top: 72px;
    padding-bottom: 76px;
    margin-bottom: 78px;
  }
  .materials-card__description {
    margin-left: 0;
    font-size: 12px;
    line-height: 1.2;
    max-width: 250px;
  }
  .materials-card__image {
    width: 100%;
    height: 100%;
  }
}

/*Стили для footer*/
.footer {
  position: relative;
}

.map {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__text {
  font-size: 16px;
  line-height: 26px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

.contacts-list__phone {
  color: #333333;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
  }
  .map {
    width: 100%;
    left: 0;
    top: 535px;
  }
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 0;
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  .contacts__title {
    font-size: 18px;
    max-width: 275px;
    margin-bottom: 39px;
  }
  .contacts-list__item {
    margin-bottom: 39px;
  }
  .contacts-list__item:last-child {
    margin-bottom: 0;
  }
}

/*Стили для блока guarantee*/
.guarantee__title {
  margin: auto;
  margin-bottom: 100px;
}

.guarantee-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guarantee-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 270px;
}

.guarantee-list__image {
  margin-bottom: 41px;
}

.guarantee-list__description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 1200px) {
  .guarantee-lists {
    display: block;
  }
  .guarantee-list__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .guarantee-list__image {
    margin-bottom: 0px;
  }
  .guarantee-list__description {
    padding-top: 31px;
    padding-bottom: 44px;
    max-width: 330px;
  }
}

@media (max-width: 320px) {
  .guarantee__title {
    margin-bottom: 49px;
    max-width: 234px;
  }
  .guarantee-list__description {
    font-size: 14px;
    max-width: 230px;
    line-height: 1.2;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
}
/*# sourceMappingURL=style.css.map */